@font-face {
    font-family: 'River';
    src: url(fonts/Memphis\ River.otf);
}



body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-top: 5vh;
    align-items: center;
    flex-direction: column;
}


.calculator {
    width: 500px;
    height: 700px;
    background-color: coral;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;   
}

.calculator-display {
    width: 470px;
    height: 150px;
    background-color: aliceblue;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 40px;   
}


.clearing > * {
    width: 100px; 
    height: 60px;
    background-color: black;
    color: white;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10em;
}


.logo {
    background-size: cover;
    background-position: 5%;
    border-radius: 10em;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.images {
    image-rendering: auto;
    width: 80px;
}


.buttons {
    width: 470px;
    height: 470px;
    background-color: blanchedalmond;
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;   
}

.buttons > * {
    width: 25rem;
    height: 50px;
    display: flex;
    justify-content: space-between;
    text-align: center; 
}

.container > * {
    color: white;
    font-size: 30px;
    width: 70px;;
    height: 70px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}










